<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="card text-center">
    <div class="card-header">
     ¡VAMOS A JUGAR!
    </div>
    <div class="card-body">
      <h5 class="card-title">Ingresa el número</h5>
      <input
      class="form-control form-control-lg"
      type="number"
      [(ngModel)]="number">
      <button type="button" class="btn btn-dark game" (click)="setSecret()">Guardar número</button>
      <button type="button" class="btn btn-success game" (click)="guess()">Adivinar número</button>
    </div>
    <div class="card-footer">
      {{message}}
    </div>
  </div>
</div>
